{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1> Welcome to Task ! - {{ task.title }}</h1>
        <div class="container">
            <h5>Description: {{ task.description }}</h5>
            <h5>Status : {{ task.status }}</h5>
            <h5>Created On: {{ task.created_at }}</h5>
            <h5>Modified On: {{ task.modified_at }}</h5>
            <h5>ETA : {{ task.todo_date_time }}</h5>
        </div>
        <div class="container">
            <p>
                <a class="btn btn-warning" href="{% url 'todo_list:updatetodo' pk=task.pk %}">Update</a>
                <a class="btn btn-outline-danger" href="{% url 'todo_list:deletetodo' pk=task.pk %}">Delete </a>
                <a class="btn btn-outline-secondary" href="{% url 'todo_list:list' %}">Todo List</a>
            </p>
        </div>
    </div>
{% endblock %}