{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1> Do you want to delete Task ! </h1>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ task.title }}"?</p>
            <p>
                <input type="submit" class="btn btn-danger" value="Delete">
                <a class="btn btn-success" href="{% url 'todo_list:details' pk=task.pk %}">Cancle</a>
            </p>
        </form>
    </div>

{% endblock %}