<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abode</title>
    <!-- Latest compiled and minified CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>

<nav class="navbar nav-fill">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'todo_list:list' %}">Todo List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
    </ul>
</nav>

<div class="container">
    {% block content %}

    {% endblock %}
</div>

</body>
</html>